<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <title>v-model</title>
  <style>
      .border{border:1px solid red;}
      .bgColor{background:pink;}
      .fontColor{color:white;}
      #demo{margin-bottom: 300px;}
  </style>
</head>
<body>
  <div id="demo">
    <p>v-model可以和表单数据进行双向绑定,会把表单对应的value属性的值渲染到页面上</p>
    <input type="text" v-model="message">
    <p>message is {{message}}</p>
    <hr>
    <textarea cols="30" rows="10" v-model="textareaMsg" placeholder="hahha"></textarea>
    <p>textareaMsg is {{textareaMsg}}</p>
    <hr>
    <p>单选框</p>
    <label><input type="radio" value="香蕉" v-model="single">香蕉</label>
    <label><input type="radio" value="苹果" v-model="single">苹果</label>
    <p>{{single}}被选中了</p>
    <hr>
    <p>复选框</p>
    <label><input type="checkbox" v-model="multiple" value="香蕉">香蕉</label>
    <label><input type="checkbox" v-model="multiple" value="苹果">苹果</label>
    <label><input type="checkbox" v-model="multiple" value="橘子">橘子</label>
    <p>{{multiple}}被选中了</p>
    <hr>
    <p>单个复选框</p>
    <input type="checkbox" id="checkbox" v-model="checked">
    <label for="checkbox">{{ checked }}</label>
    <hr>
    <p>下拉菜单</p>
    <select name="" id="" v-model="selected">
      <option  disabled>请选择</option>
      <option >苹果</option>
      <option >香蕉</option>
      <option >橘子</option>
    </select>
    <p>{{selected}}</p>
    <hr>
    <p>多选下拉菜单</p>
    <select name="" id="" v-model="multipled" multiple>
      <option  disabled>请选择</option>
      <option >苹果</option>
      <option >香蕉</option>
      <option >橘子</option>
    </select>
    <p>{{multipled}}</p>
    <hr>
    <p>值绑定（直接写value只能静态设置value值，v-bind可以动态设置</p>
    <p>单选按钮</p>
    <label for=""><input type="radio" v-model="valueBind" :value="value">checked:{{valueBind}}</label>
    <hr>
    <p>多选按钮不同状态显示不同数据</p>
    <label for=""><input type="checkbox" v-model="picked" :true-value="trueValue" :false-value="falseValue">苹果</label>
    <p>{{picked}}</p>
    <hr>
    <p>下拉框</p>
    <select v-model="downListClick">
      <option :value="apple">苹果</option>
      <option :value="banan">香蕉</option>
      <option :value="orange">橘子</option>
    </select>
    <p>{{downListClick}}</p>
    <hr>
    <p>修饰符</p>
    <label for=""><input type="text" v-model.lazy="lazy">lazy</label>
    <p>{{lazy}}</p>
    <label for=""><input type="text" v-model.trim="trim">trim</label>
    <p>{{trim.length}}</p>
    <p>对比</p>
    <label for=""><input type="text" v-model.number="number">number</label>
    <p>{{typeof number}}</p>
  </div>
  <script>
    let demo = new Vue({
      el:'#demo',
      data() {
        return {
          message:'',
          textareaMsg:'',
          single:'香蕉',
          multiple:[],
          checked:false,
          selected:'',
          multipled:[],
          valueBind:'',
          value:'香蕉',
          picked:'',
          trueValue:'正确',
          falseValue:'错误',
          downListClick:'',
          apple:{
            name:'苹果',
            price:10
          },
          banan:{
            name:'香蕉',
            price:10
          },
          orange:{
            name:'橘子',
            price:10
          },
          lazy:'',
          trim:'',
          number:''
        }
      },
    })
  </script>
</body>
</html>